<!-- hero -->
<header class="container">
    <div class="hero-content">
        <span class="subtitle">
            <span class="material-icons-outlined">
                arrow_forward
            </span>
            Welcome to Unicorn Prime</span>
        <h1>Brand,Design &<br>Development Agency</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eaque perspiciatis enim saepe maiores ipsam nobis cumque esse quae? Facilis!</p>
        <a href="#" class="btn btn-primary">Know More <span>&#8250</span></a>
    </div>
    <div class="hero-image">
        <img src="/Images/hero-three-img-1-1.png" alt="">
    </div>
</header>
<!-- hero end -->