    <!-- services start -->
    <div class="container-fluid">
        <div class="service" id="services">
          <div class="service-heading">
            <h2>Creative Design Solutions</h2>
            <p>Professional Design Agency to provide solutions</p>
          </div>
          <div class="service-card-list">
            <div class="service-card">
              <span class="material-icons-outlined icon"> photo_camera </span>
              <h3>Strategy</h3>
              <ul>
                <li>Porduct Management</li>
                <li>service 2</li>
                <li>service 3</li>
              </ul>
              <a href="#" class="btn-link">Read More</a>
            </div>
  
            <div class="service-card">
              <span class="material-icons-outlined icon"> photo_camera </span>
              <h3>Strategy</h3>
              <ul>
                <li>Porduct Management</li>
                <li>service 2</li>
                <li>service 3</li>
              </ul>
              <a href="#" class="btn-link">Read More</a>
            </div>
  
            <div class="service-card">
              <span class="material-icons-outlined icon"> photo_camera </span>
              <h3>Strategy</h3>
              <ul>
                <li>Porduct Management</li>
                <li>service 2</li>
                <li>service 3</li>
              </ul>
              <a href="#" class="btn-link">Read More</a>
            </div>
  
            <div class="service-card">
              <span class="material-icons-outlined icon"> photo_camera </span>
              <h3>Strategy</h3>
              <ul>
                <li>Porduct Management</li>
                <li>service 2</li>
                <li>service 3</li>
              </ul>
              <a href="#" class="btn-link">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- services end -->