  <!-- about start -->
  <div class="about-us container">
    <div class="about__image">
      <img data-aos="fade-right" data-aos-duration="800" src="/Images/about.jpg" alt="">
    </div>
    <div data-aos="fade-left" data-aos-duration="800" class="about__content">
      <h2>We’re Creative Agency Since 2018</h2>
      <p class="p-dark">Professional Design Agency provide solutions</p>
      <p>On the other hand denounce with righteous indigna see tion and dislike men who are beguiled and demoralizedes by the charms of pleasure of the moment, so blinded desire that they cannot foresee.</p>
      <ul>
        <li> <span><img src="/Images/green tick.svg" alt=""></span> Digital Creative Agency</li>
        <li> <span><img src="/Images/green tick.svg" alt=""></span> Professional Problem Solutions</li>
        <li> <span><img src="/Images/green tick.svg" alt=""></span> Web Design & Development</li>
      </ul>
      <a href="#" class="btn btn-outline-primary">Learn More</a>
    </div>
  </div>
<!-- about end -->