  <!-- Professional Experience start -->
  <section class="container-fluid portfolio">
    <div class="portfolio__heading" data-aos="fade-up"
    data-aos-duration="800">
      <h2>Professional Experience</h2>
      <p>Professional Design Agency to provide Solutions</p>
    </div>
    <div class="portfolio__images" data-aos="fade-up"
    data-aos-duration="1200">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-10.jpg" alt="">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-11.jpg" alt="">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-12.jpg" alt="">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-13.jpg" alt="">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-14.jpg" alt="">
      <img src="https://wordpressriverthemes.com/htmltemp/pixlab/assets/images/portfolio/img-15.jpg" alt="">
    </div>
    <a href="#" class="btn btn-primary">See All</a>
</section>
<!-- Professional Experience end -->