<!-- contact start -->
<div class="container-fluid contact">
    <div class="contact-us" data-aos="fade-right" data-aos-duration="800">
      <h2>Have Any Project On Minds!</h2>
      <p>On the other hand denounce righteous indigna
        tion and dislike men who are beguiled and demra
        charms of pleasure of the moment</p>
      <div class="contact-types">
        <div class="contact-container">
          <span class="material-icons contact-icons">email</span>
          <div class="contact-container-detail">
            <h5>Email Us</h5>
            <p>Support@gmail.com</p>
          </div>
        </div>
        <div class="contact-container">
          <span class="material-icons contact-icons">call</span>
          <div class="contact-container-detail">
            <h5>Phone</h5>
            <p>+918423698845</p>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-form" data-aos="fade-left" data-aos-duration="800">
      <h2>Get Consultation Say Hello!</h2>
        <form class="contact-form-inputs">
          <input type="text" name="name" id="name" placeholder="Full Name">
          <input type="email" name="email" id="email" placeholder="Email Address">
          <select name="select-subject" id="select-subject">
            <option selected  hidden>subject</option>
            <option value="1">support</option>
            <option value="2">other</option>
          </select>
          <input type="tel" name="phone" id="phone" maxlength="10" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Phone Number">
          <input class="btn btn-primary" type="submit" value="Send Message">
        </form>
    </div>
  </div>
  <!-- contact end -->
