<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="shortcut icon"
      href="/Images/unicorn Logo sm.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/unicornStyle.css" />
    <script src="/unicorn.js" defer></script>
    <title>Unicorn Prime Services</title>
  </head>

  <body>

    <!-- Like us start-->
    <div class="container-fluid like-us">
        <div class="like-us-heading">
            <h2>Why People's Like Us</h2>
            <p>Professional Design Agency to provide solutions</p>
        </div>

      <div class="num-card-list">
        <div class="num-card">
          <span class="material-icons">rocket_launch</span>
          <span>256+</span>
          <p>Project Complate</p>
        </div>

        <div class="num-card">
          <span class="material-icons">verified</span>
          <span>783+</span>
          <p>Project Complate</p>
        </div>

        <div class="num-card">
          <span class="material-icons">local_police</span>
          <span>97+</span>
          <p>Project Complate</p>
        </div>

        <div class="num-card">
          <span class="material-icons">room_preferences</span>
          <span>35+</span>
          <p>Project Complate</p>
        </div>
      </div>
    </div>
    <!-- Like us end-->
    

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
